.webpage {
  display: flex;
  background: white;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.canvas {
  display: flex;
  background: white;
  border: .25px solid #999999;
  width: 71.428571vw;
  height: 71.428571vh;
  margin: auto;
}

.outside {
  display: flex;
  background: white;
  border: .25px solid #999999;
  width: 42.857143vw;
  height: 42.857143vh;
  margin: auto;
}

.inside {
  background: black;
  width: 14.285714vw;
  height: 14.285714vh;
  margin: auto;
}
